node_modules
output
.DS_Store
*~
*.swp
*.bat
*.bak
*.bak.json
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.meta
*.vpj
*.vpw
*.vpwhistu
*.vtg

# OS
.DS_Store
*.mp4

dist/uhhm-shareable-linux-x64
dist/uhhm-shareable-macos-arm64
dist/uhhm-shareable-win-x64.exe